		body {
			background: #fff; 
		}
		
		.frontCustomFront {
			background-image: linear-gradient(to bottom, #999, #eee);
			border-radius:5px;
		}

		.frontCustomback {
			background-image: linear-gradient(to bottom, #aaa, #eee);
			border-radius:5px;
		}

		.verticalSpacer150{height:150px;}
		.verticalSpacer50{height:50px;}
		.verticalSpacer40{height:40px;}
		.verticalSpacer30{height:30px;}
		.verticalSpacer20{height:20px;}
		.verticalSpacer15{height:15px;}
		.verticalSpacer10{height:10px;}
		.verticalSpacer5{height:5px;}
		.verticalSpacer4{height:4px;}
		.verticalSpacer3{height:3px;}
		.verticalSpacer2{height:2px;}
		
		.tituloCardVermelho {
			background:#ae1700;
			height:28px;
			width:200px;
			margin-left:-20px;
			padding-left:5px;
			transition: background 1s linear;
		}

		.tituloCardVermelhoDescricoes {
			background:#ae1700;
			width:90px;
			padding:2px;
			padding-left:5px;
			transition: background 1s linear;
		}

		.tituloCardAzulDescricoes {
			background:#0a4058;
			width:90px;
			padding:2px;
			padding-left:5px;
			transition: background 1s linear;
		}

		.tituloCardVerdeDescricoes {
			background:#18721b;
			width:90px;
			padding:2px;
			padding-left:5px;
			transition: background 1s linear;
		}

		.tituloCardLaranjaDescricoes {
			background:#fb9600;
			width:90px;
			padding:2px;
			padding-left:5px;
			transition: background 1s linear;
		}		

		.tituloCardLaranja {
			background:#fb9600;
			height:28px;
			width:200px;
			margin-left:-20px;
			padding-left:5px;
			transition: background 1s linear;
		}

		.tituloCardAzul {
			background:#0a4058;
			height:28px;
			width:200px;
			margin-left:-20px;
			padding-left:5px;
			transition: background 1s linear;
		}

		.tituloCardVerde {
			background:#18721b;
			height:28px;
			width:200px;
			margin-left:-20px;
			padding-left:5px;
			transition: background 1s linear;
		}
		

		.tituloCardLabel {
			color:#fff;
			font-family: Arial;
			font-size:20px;
			font-weight:bold;
			transition: background 1s linear;
		}
		
		
		body{
			background: url('../images/fundo_1.jpg')no-repeat;background-size: cover; 
			overflow:hidden;
		}